<h1>Projects</h1>

<% if @projects.size > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Details</th>
        <th>Expoected completion date</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.title, tenant_project_path(project, tenant_id: @tenant.id) %></td>
          <td><%= project.details %></td>
          <td><%= project.expoected_completion_date %></td>
          <td><%= link_to 'Edit', edit_tenant_project_path(project, tenant_id: @tenant.id), class: 'btn btn-secondary btn-sm' %>
          <%= link_to 'Destroy', tenant_project_path(project, tenant_id: @tenant.id), method: :delete, data: { confirm: 'Are you sure?' },
            class: 'btn btn-danger btn-sm' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p class="lead">You don't have any projects.</p>
<% end %>

<br>

<% if (@tenant.can_create_projects?) %>
  <%= link_to 'New Project',new_tenant_project_path(@project, tenant_id: @tenant.id) %>
<% end %>
